
html
{
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}
.responsive {
	width: 100%;
	height: auto;
  }
#simscreen
{
	position: relative;
	left:0px;
	top:0px;
	height: 650px; 
	width:950px;
	border:solid 1px;
	background-color: black;
	color: white;
}

#title{
	position:relative;
	left: 0px;
	top: 0px;
	height:50px;
	font-size: 22px;
	text-align:center;
	background-color: rgba(241, 231, 231, 0.952);
	font-family: verdana;
	color: White;
	text-transform: uppercase; 
	border: 1px ridge white;
}

#title h5
{  
	padding-top:8px;
	margin:0px;
	color: black;
}	

.simsubscreen
{
	position:absolute;
	left:0px;
	top:50px;
	height:530px;
	width:745px;
}


#nextButton
{
	position:absolute;
	left:750px;
	top:60px;
	cursor:pointer;
}
#prevButton
{
	position:absolute;
	left:710px;
	top:60px;
	cursor:pointer;
	visibility: hidden;
}


#copyright{
	position: absolute;
	/* text-align: center; */
	font-size:12px;
	left: 30%;
	top: 625px;
	
}

.smallFont{
	font-family: verdana;
	font-size: 10px;
	width: 45px;
	z-index: 10;
	color: White;
}

ul li{
	padding: 5px;
	list-style-type: none;
}

ul li::before {
	content: "\2022";
	color: yellow;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
  }


td li{
	margin-left: 15px;
	padding-right: 45px;
	list-style-type: none;
}

td li::before {
	content: "\2022";
	color: red;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
  }

  #sim{
	  transition: opacity;
	  transition-duration: 3s;
  }
 
.parentPopup{
width: 800px;
height: 600px;
background-color: rgba(253, 249, 249, 0);
z-index: 101;
position: fixed;
display: none;
}
.popup{
	width: 30%;
	margin-left: 35%;
	height: auto;
	background-color: rgb(235, 144, 8);
	/* padding-top: 30px; */
	padding-bottom: 30px;
	/* padding-left: 30px; */
	z-index: 101;
	margin-top: 200px;
	border-radius: 5px;

	/* text-align: center; */
}
.popUpContent{
	text-align: justify;
}

.close{
	float:left;
	background-color: rgb(245, 236, 236);
	color: rgb(15, 14, 14);
	font-size: 14px;
	/* padding-left: 5px; */
	/* padding-right: 5px; */
	/* border-radius: 1px; */
	/* box-shadow: 0px 0px 1px 1px rgba(99,98,99,0.53); */
	cursor: pointer;
	width: 100%;
}

.listHover{
	padding-bottom: 5px;
	cursor: pointer;
	z-index: 50;
}
.listHover:hover{
	cursor: pointer;
}

.arrowFont{
	font-size: 40px;
	color: rgba(250, 181, 91, 0.979);
}

.backArrow{
	font-size: 70px;
	color: rgba(250, 181, 91, 0.979);
}


.downArrow, .faultArrow{
	font-size: 22px;
	color: rgba(250, 120, 68, 0.979);
}
.tooltipContent{
	font-size: 12px;
	color:goldenrod;
	z-index: 154;
	/* background-color: aliceblue; */
	cursor: pointer;
}


p span {
	display: block;
}


.timers{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}

.controlRoom{
	align-items: center;
	border: 2px solid rgb(211, 207, 207);
	box-shadow:  -2px 1px 8px 8px #888888;
	cursor: pointer;
	position: absolute; 
	left: 100px; 
	top: 380px; 
	height:130px;
	width:280px; 
	display: flex;
	justify-content: center;
	text-align: justify;
	z-index:200;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;

}

.btn{
padding: 5px;
border: 1px solid lightgrey;
width: 25px;
margin-top: 15px;
text-align: center;
display: inline;
z-index: 500;	
cursor: pointer;
}
.btn:hover{
	cursor: pointer;
}
  @keyframes move{
	 0% {
		  	transform: translate(-10px,0px); 
			transform: scaleX(1.5);
		}
	100%{
		transform: translate(-25px,0px); 
		transform: scaleX(1);
	}
  }
  @-webkit-keyframes move{
	 0% {
		  	transform: translate(-10px,0px); 
			transform: scaleX(1.5);
		}
	100%{
		transform: translate(-25px,0px); 
		transform: scaleX(1);
	}
  }

  @keyframes moveArrow{
	0% {
			transform: translate(0px,0px); 
	   }
   100%{
	   transform: translate(10px,0px); 
   }
 }
 @-webkit-keyframes moveArrow{
	0% {
		transform: translate(0px,0px); 
   }
	100%{
	transform: translate(10px,0px); 
	}
 }
  @keyframes moveHand{
	0% {
		transform: translate(0px,0px); 
   }
	25%{
	transform: translate(15px,0px); 
	}
	50%{
	transform: translate(0px,0px); 
	}
	70%{
	transform: translate(15px,0px); 
	}
	100%{
	transform: translate(15px,0px); 
	}
 }
 @-webkit-keyframes moveHand{
	0% {
		transform: translate(0px,0px); 
   }
	25%{
	transform: translate(15px,0px); 
	}
	50%{
	transform: translate(0px,0px); 
	}
	70%{
	transform: translate(15px,0px); 
	}
	100%{
	transform: translate(15px,0px); 
	}
 }
